/* CAROUSEL */

.testimonios {
  margin: 20px 10px;

  h3 {
    padding: 10px;
    border-radius: 5px;
    font-size: 23px;
    font-weight: 400;
    background-color: $color-claro;
    color: $color-turquesa;
  }

}