/* FOOTER */

footer {
  background-color: $color-turquesa;
  padding: 40px;
  text-align: auto;
  margin-top: 1rem;
}

.textoFooter {
  color: $color-claro;
  font-weight: 400;
  font-size: 15px;
}

.bi-instagram {
  color: $color-claro;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  text-decoration: none;
}

