/* RESET */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Comfortaa', sans-serif;
}

h2 {
    color: $color-oscuro;
    font-weight: 700;
    text-align: left;
    margin: 60px 0px 40px 20px;
}