 /* VARIABLES */

 $color-turquesa: rgb(42, 123, 129);
 $color-claro: aliceblue;
 $color-fondo: #fff;
 $color-oscuro: #333;
 $color-sombra: rgb(206, 199, 199);
 $color-seleccionado: rgb(61, 194, 194);